.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# CLI configuration files
tfplan

# Environment backend configuration files
*.state.config


# Allow example state config for demonstration
!env/example/example.state.config
